{% extends '::menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dictionary/css/tables_with_filter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block menu_content %}
    <div class="container">
        <div class="col-md-8">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h3 class="panel-title">Источник рекламы - {{ entity.name }}</h3>
                </div>

                <table class="table table-bordered">
                    <tbody>
                        <tr class="active">
                            <td>Идентификатор:</td>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr class="active">
                            <td>Идентификатор emls:</td>
                            <td>{{ entity.outerId ? entity.outerId : "Не задан" }}</td>
                        </tr>
                        <tr class="active">
                            <td>Наименование:</td>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr class="active">
                            <td>Активен:</td>
                            <td>{{ entity.isActive ? "Да" : "Нет" }}</td>
                        </tr>
                        <tr class="active">
                            <td>Дата создания:</td>
                            <td>{{ entity.createdAt is empty ? "" : entity.createdAt|date('d.m.Y H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% include '::back_to_list.html.twig' with {'list_path': 'advertising_source'} only %}
    </div>
{% endblock %}
