{% extends '::menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/dictionary/css/tables_with_filter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dictionary/js/dictionary.js') }}"></script>
    <script src="{{ asset('bundles/dictionary/js/jquery.tablesorter/jquery.tablesorter.js') }}"></script>
{% endblock %}

{% block menu_content %}
    <div style="margin-bottom: 15px; text-align: right;">
        <a class="btn btn-warning btn-lg" href="{{ path('reason_new') }}" role="button">
            Добавить Причину обращения  <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>

    <div class="container">
        <div class="col-md-7" style="margin-left: -20px;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Причины обращения</h3>
                </div>

                <table class="table table-hover" id="dictionary-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Наименование</th>
                        <th>Активен</th>
                        <th>Дата создания</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if entities %}
                            {% for entity in entities %}
                                <tr>
                                    <td>
                                        <a href="{{ path('reason_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                    </td>
                                    <td>
                                        {{ entity.name }}
                                    </td>
                                    <td>
                                        {% if entity.isActive %}
                                            <span class="label label-success">Да</span>
                                        {% else %}
                                            <span class="label label-danger">Нет</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ entity.createdAt is empty ? "" : entity.createdAt|date('d.m.Y H:i:s') }}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                Действие <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="{{ path('reason_show', { 'id': entity.id }) }}">Показать</a></li>
                                                <li><a href="{{ path('reason_edit', { 'id': entity.id }) }}">Редактировать</a></li>
                                                <li><a href="{{ path('reason_delete', { 'id': entity.id }) }}">Удалить</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>Данные отсутсвуют...</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include '::dictionary_search.html.twig' %}
    </div>
{% endblock %}